{%extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="row gx-4 gx-lg-5 justify-content-center"><img src="static/img/aboutme.jpg" alt="Subrahmanya Bhat" style="width:420px; height:370px;overflow:hidden; clip-path: circle();"></div>
                        <p>Hello,<h5 style="text-align: center;">I am Subrahmanya Gopal Bhat</h5> <br>I am in my fourth year of college with a passion for engineering and design. I am looking to intern in the software or electronics industry. The past experience that I have gained during these courses and my personal projects demonstrates that I work well with others, and have experience working under pressure. Other skills include organization, creativity, self-motivation, and teamwork<br> With my intrest of designing websites and learning new technologies, I have developed this Web site SubgBlogs<br> Follow me on instagram, facebook, github. Link is provided in the footer section of the website </p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
{% endblock %}
        