{%extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{url_for('static',filename='/img/edit.png')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Add new Post</h1>
                            <span class="subheading"> You are not barriered</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Fill the filed accordingly as instructed below</p>
                        <div class="my-5">
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="post" action="/edit/0" enctype="multipart/form-data"> 
                                <div class="form-floating" >
                                    <input class="form-control" id="Tileimage"  name='Tileimage' type="file" placeholder="Upload tile image..." accept="image/*" />
                                    <label for="Tileimage" >Tile image </label>
                                    
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A Tile image is required.</div>
                                </div>

                                <div class="form-floating">
                                    <input class="form-control" id="slug" name='slug'type="text" placeholder="Enter slug..." data-sb-validations="required" required/>
                                    <label for="slug">Slug</label>
                                    <div class="invalid-feedback" data-sb-feedback="slug:required">A slug is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="Title" name='Title'type="text" placeholder="Enter Title..." data-sb-validations="required" required/>
                                    <label for="Title">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="Title:required">A Title is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="subtitle" name='subtitle' type="text"  placeholder="Enter subtitle..."data-sb-validations="required" required />
                                    <label for="subtitle">Sub title</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">A subtitle is required.</div>
                                </div>

                                <div class="form-floating">
                                    <textarea class="form-control" id="content" name='content' placeholder="Enter your content here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="content">Content</label>
                                    <div class="invalid-feedback" data-sb-feedback="content:required">A content is required.</div>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-info addpost-btn"  style="border-radius: 30px; ">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        
{% endblock %}
    